In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"C:\Users\renuk\Downloads\Ecommerce_Sales_Dataset_600_Rows.xlsx")

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order_ID              600 non-null    int64
 1   Order_Date            600 non-null    object
 2   Customer_ID           600 non-null    object
 3   Customer_Age          600 non-null    int64
 4   Customer_Gender       600 non-null    object
 5   City                  600 non-null    object
 6   State                 600 non-null    object
 7   Product_Category      600 non-null    object
 8   Product_Sub_Category  600 non-null    object
 9   Payment_Mode          600 non-null    object
 10  Sales                 600 non-null    int64
 11  Cost                  600 non-null    int64
 12  Discount_%            600 non-null    int64
 13  Quantity              600 non-null    int64
 14  Shipping_Days         600 non-null    int64
 15  Delivery_Status       600 non-null    object
dtypes: int64(7), object(9)
memory usage: 75.1+ KB

In [6]:
df.isnull().sum()

Order_ID                0
Order_Date              0
Customer_ID             0
Customer_Age            0
Customer_Gender         0
City                    0
State                   0
Product_Category        0
Product_Sub_Category    0
Payment_Mode            0
Sales                   0
Cost                    0
Discount_%              0
Quantity                0
Shipping_Days           0
Delivery_Status         0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [9]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])

In [12]:
df['Final_Sales'] = df['Sales'] - (df['Sales'] * df['Discount_%'] / 100)

In [13]:
df['Profit'] = df['Final_Sales'] - df['Cost']

In [14]:
df['Profit_Margin_%'] = (df['Profit'] / df['Final_Sales']) * 100

In [15]:
df['Year'] = df['Order_Date'].dt.year
df['Month'] = df['Order_Date'].dt.month_name()

In [17]:
bins = [18,25,35,45,60]
labels = ['18-25','26-35','36-45','46-60']

df['Age_Group'] = pd.cut(df['Customer_Age'], bins=bins, labels=labels)

In [18]:
df.describe()

,Order_ID,Order_Date,Customer_Age,Sales,Cost,Discount_%,Quantity,Shipping_Days,Final_Sales,Profit,Profit_Margin_%,Year
count,600.000000,600,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.0
mean,1300.500000,2024-04-03 06:09:36,35.395000,30467.503333,22950.786667,17.608333,2.045000,5.038333,25164.937117,2214.150450,7.970374,2024.0
min,1001.000000,2024-01-01 00:00:00,20.000000,1047.000000,809.000000,5.000000,1.000000,2.000000,827.130000,-11459.100000,-27.941596,2024.0
25%,1150.750000,2024-02-17 00:00:00,28.000000,15886.750000,11944.500000,11.000000,1.000000,3.000000,13370.332500,-98.712500,-0.880451,2024.0
50%,1300.500000,2024-04-04 12:00:00,35.500000,30776.500000,22754.500000,17.000000,2.000000,5.000000,25101.910000,1563.970000,8.767208,2024.0
75%,1450.250000,2024-05-20 00:00:00,43.000000,44318.500000,33548.500000,25.000000,3.000000,7.000000,36827.145000,4455.900000,18.365421,2024.0
max,1600.000000,2024-06-29 00:00:00,50.000000,59869.000000,52687.000000,30.000000,3.000000,8.000000,56766.300000,17566.080000,36.165489,2024.0
std,173.349358,NaN,8.879022,16844.094335,13160.350560,7.707178,0.810805,2.011701,14233.046708,4224.235044,13.618482,0.0

In [20]:
df.to_csv("cleaned_ecommerce_data.csv", index=False)